* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #eaeaea;
    color: #2c2c2c;
}

header {
    background-color: #005f73;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    margin: 10px auto;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #94d2bd;
    color: #fff;
    cursor: pointer;
}

.navbar {
    background-color: #94d2bd;
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    color: #2c2c2c;
}

main {
    display: flex;
    margin: 20px;
}

aside {
    flex: 1;
}

aside div {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

aside p {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    margin-right: 20px;
    overflow-y: auto;
    height: 300px;
    background-color: #fff;
}

section {
    flex: 2;
    padding: 20px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.img img {
    width: 100%;
    height: auto;
    border: 1px solid #c4c4c4;
}

.img:hover {
    border: 2px solid #005f73;
}

article {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
    margin-left: 20px;
    background-color: #fff;
}

footer {
    background-color: #005f73;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: #005f73;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
    gap: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group select {
    height: 50px;
}

.form-group button {
    width: 100%;
    padding: 15px;
    background-color: #005f73;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.form-group button:hover {
    background-color: #94d2bd;
}

.back-link {
    background-color: #94d2bd;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.back-link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.back-link a:hover {
    color: #2c2c2c;
}

.login-link,
.signup-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a,
.signup-link a {
    color: #005f73;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover,
.signup-link a:hover {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
}

.dropdown button {
    background-color: #3890a5;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    width: 120px;
}

.dropdown button:hover {
    background-color: #94d2bd;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    right: 0;
    top: 50px;
    z-index: 1000;
}

.dropdown:hover .content {
    display: block;
}

.dropdown a {
    display: block;
    color: #2c2c2c;
    text-decoration: none;
    padding: 12px 16px;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}
